
// index.jade
   chat.io

   Copyright (c) 2013 Vuong. All rights reserved.


doctype 5
html(lang=en)
  head
    title Socket.IO chat
    script(src="/socket.io/socket.io.js")
    script(src="/js/jquery-2.0.2.min.js")
    script(src="/js/chat.js")
    link(href="/css/chat.css")
  body
    div#chat
      ul#message
      input(type="text", id="input")
      button#send Send